nav {
  height: 80px;
  display: flex;
  background-color: black;
  color: white;
}

.nav__logo {
  display: flex;
  flex-direction: column;
}

.nav__container {
  max-width: 1200px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  font-family: var(--font-family-primary);
  color: var(--color-white);
  font-size: 22px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

.nav__logo small {
  font-size: 12px;
  letter-spacing: 5px;
}

.nav__links {
  display: flex;
  align-items: center;
}

.nav__link {
  font-family: var(--font-family-secondary);
  color: var(--color-white);
  font-size: 13px;
  letter-spacing: 2px;
  padding: 0 20px;
  text-transform: uppercase;
}

.nav__link:hover {
  color: var(--color-brown);
  transition: all 300ms ease;
}

.nav__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.nav__icon span {
  background-color: #f8b500;
  color: var(--color-black);
  width: 18px;
  height: 18px;
  font-size: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  position: absolute;
  bottom: 5px;
  right: 5px;
}
