@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');

/* Custom */
:root {
  /* Colors */
  --color-white: #fff;
  --color-black: #1d150b;
  --color-brown: #c49b63;
  --color-grey: #808080;

  /* Font Family */
  --font-family-primary: 'Josefin Sans', sans-serif;
  --font-family-secondary: 'Poppins', sans-serif;
}

/* GLOBAL SETTING */
*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}