@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Josefin+Sans:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap");

/* Custom */
:root {
  /* Colors */
  --color-white: #fff;
  --color-black: #1d150b;
  --color-brown: #c49b63;
  --color-grey: #808080;

  /* Font Family */
  --font-family-primary: "Josefin Sans", sans-serif;
  --font-family-secondary: "Poppins", sans-serif;
  --font-family-teitary: "Great Vibes", cursive;
}

/* GLOBAL SETTING */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* UTILITY */
.container {
  padding: 56px;
}

.row {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}
